<div class="layui-side-scroll" th:fragment="leftnav" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item"><a href="/leadership/termListUI">学年管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/applyListUI">申请管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/courseListUI">课程管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/userListUI">系部人员列表</a></li>
        <li class="layui-nav-item"><a href="/excel/excelUI">Excel导出</a></li>
    </ul>
</div>
