<div class="layui-side-scroll" th:fragment="leftnav" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="layui-nav layui-nav-tree">
        <li class="layui-nav-item"><a href="/leadership/termListUI">学年管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/applyListUI">申请管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/courseListUI">课程管理</a></li>
        <li class="layui-nav-item"><a href="/leadership/userListUI">系部人员</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">Excel导入/导出</a>
            <dl class="layui-nav-child">
                <dd><a id="dm-excel-export">Excel导出</a></dd>
                <dd><a id="dm-excel-import">Excel导入</a></dd>
            </dl>
        </li>
    </ul>
</div>
