<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>广东东软学院排课管理系统</title>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div th:replace="~{common/head.html::head}"></div>
        <div th:replace="~{common/leftnavbar.html::leftnav}"></div>
        <div class="layui-body"></div>
        <div th:replace="~{common/footer.html::footer}"></div>
    </div>
</body>
<div th:insert="~{common/common::common}"/>
</html>