<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>学年管理</title>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{common/head::head}"></div>
    <div th:replace="~{common/leftnavbar::leftnav}"></div>
    <div class="layui-body">
        <input type="hidden" class="layui-input fcId">
        <form class="layui-form">
            <blockquote class="layui-elem-quote quoteBox">
                <form class="layui-form">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容" />
                        </div>
                        <a class="layui-btn search_btn" data-type="reload">搜索</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-normal addTerm_btn">添加学年</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                    </div>
                </form>
            </blockquote>
            <table id="termListTable" lay-filter="termListTable"></table>
            <script type="text/html" id="termListBar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
            </script>
        </form>
    </div>
    <div th:replace="~{common/footer::footer}"></div>
</div>
</body>
<div th:insert="~{common/common::common}"/>
<script src="/static/js/term-list.js" charset="utf-8" ></script>
<script th:inline="JavaScript">
    $(".fcId").val([[${session.fcId}]]);
</script>
</html>