<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Excel 课程导入</title>
</head>
<body>
    <div class="layui-form">
        <br>
        &nbsp;&nbsp;&nbsp;
        <div class="layui-inline">
            <div class='layui-form-item excelFaculty'>
                <select id='excelFacultyList' lay-filter='excelFacultySelect' lay-search>
                    <option value=''>请选择院系</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class='layui-form-item excelTerm'>
                <select id='excelTermList' lay-filter='excelTermSelect' lay-search>
                    <option value=''>请选择学年</option>
                </select>
            </div>
        </div>
        <input style="width: 391.5px;margin-left: 15px;" type="text" id="chooseFile" class="layui-input" placeholder="请选择 xls,xlsx 类型文件">
        <br>
        <div class="layui-progress layui-progress-big" style="width: 391.5px;margin-left: 15px;" lay-filter="progressFilter" lay-showPercent="true">
            <div class="layui-progress-bar" lay-percent="0%"></div>
        </div>
        <button class="layui-btn layui-inline" id="execute" style="margin-left:343px;margin-bottom: -80px;">导入</button>
        <button class="layui-btn layui-inline" id="getTemplate" style="margin-left:-396px;margin-bottom: -80px;">获取导入模板</button>
    </div>
</body>
<div th:insert='~{common/common::common}'/>
<script type='text/javascript'>
    axios.defaults.headers.post['Content-Type'] = 'application/json; charset=utf-8';
    layui.use(['form', 'layer', 'laydate', 'table', 'laytpl', 'upload', 'element'], function () {
        var form = layui.form, layer = parent.layer === undefined ? layui.layer : top.layer, $ = layui.jquery,
            laydate = layui.laydate, laytpl = layui.laytpl, table = layui.table, upload = layui.upload, element = layui.element;
        var timer, loadIndex;
        var uploadIns = upload.render({
            elem: '#chooseFile' //绑定元素
            ,url: '/admin/uploadExcelImportCourse' //上传接口
            ,method: 'post'
            ,field: 'courseExcel'
            ,done: function(res){
                clearInterval(timer);
                if (!res.success) {
                    layer.msg(res.errorMsg);
                    element.progress('progressFilter', '0%');
                } else {
                    element.progress('progressFilter', '100%');
                    setInterval(function () {
                        parent.layer.msg("操作成功！");
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    },1000)
                }
                layer.close(loadIndex);
            }
            ,error: function(index, upload){
                layer.close(loadIndex);
                element.progress('progressFilter', '0%');
                parent.layer.msg("上传失败，请重试");
            }
            ,progress: function(n, elem){
                timer = setInterval(function(){
                    n = n + Math.random() * 10 | 0;
                    if(n > 95){
                        n = 95;
                        clearInterval(timer);
                    }
                    element.progress('progressFilter', n + '%');
                }, 50 + Math.random()*100);
            }
            ,before: function(obj){
                loadIndex = layer.load();
                this.data = {
                    fcId: $('#excelFacultyList').val(),
                    termId: $('#excelTermList').val()
                }
            }
            ,choose: function(obj){
                obj.preview(function(index, file, result){
                    $("#chooseFile").val(file.name);
                    form.render();
                });
            }
            ,accept: 'file'
            ,acceptMime: 'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            ,exts: 'xlsx|xls'
            ,size: 10240
            ,drag: true
            ,auto: false
            ,bindAction: '#execute'
        });

        $(document).ready(function () {
            var url = '/admin/facultyList';
            axios.post(url, {}).then(function (res) {
                if (!res.data.success) {
                    layer.msg(res.data.errorMsg);
                    return;
                }
                var dataArr = res.data.data.data;
                for (var i = 0; i < dataArr.length; i++) {
                    $('#excelFacultyList').append('<option value=' + dataArr[i].id + '> ' + dataArr[i].name + '</option>');
                }
                form.render();
            });
        })
        form.on('select(excelFacultySelect)', function (d) {
            if (d.value === '') {
                return;
            }
            var url = '/admin/termList/' + d.value;
            axios.get(url).then(function (res) {
                if (!res.data.success) {
                    layer.msg(res.data.errorMsg);
                    return;
                }
                var dataArr = res.data.data.data;
                $('#excelTermList').empty();
                $('#excelTermList').append('<option value=\'\'>请选择学年</option>');
                for (var i = 0; i < dataArr.length; i++) {
                    $('#excelTermList').append('<option value=' + dataArr[i].id + '> ' + dataArr[i].name + '</option>');
                }
                form.render();
            });
        })
    })

    $("#execute").on('click', function () {
        if ($("#chooseFile").val() == ""){
            layer.msg("请先上传文件");
            return;
        }
    })

    $("#getTemplate").on('click', function () {
        window.open("/admin/getImportCourseExcelTemplate");
    })
</script>
</html>